<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dilpay.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="pay"
                android:scheme="upi" />
        </intent>
    </queries>

    <application
        android:name="com.dilpay.app.Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dilbus"
        android:usesCleartextTraffic="true"
        tools:node="merge"
        tools:targetApi="m">
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/gradientEnd" />
        <activity android:name="com.dilpay.app.Security.GeneratePin"></activity>
        <activity android:name="com.dilpay.app.Security.SecurityPin"/>
        <activity android:name="com.dilpay.app.Security.SecurityCheck" />
        <activity android:name="com.dilpay.app.KeyGaurd" android:exported="false" />
        <activity android:name="com.dilpay.app.Recharge_history" />
        <activity android:name="com.dilpay.app.AddWalletAmount" />
        <activity android:name="com.dilpay.app.ConvertRewards" />
        <activity android:name="com.dilpay.app.bank.WithdrawAmount" />
        <activity android:name="com.dilpay.app.TransactionsHistory" />
        <activity android:name="com.dilpay.app.EditProfile" />
        <activity android:name="com.dilpay.app.Notification">
            <intent-filter>
                <action android:name="com.yashswi.dilpay.notification_action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.dilpay.app.bus.FilterActivity" />
        <activity android:name="com.dilpay.app.bank.BankAccounts" />
        <activity android:name="com.dilpay.app.Upgrade_membership" /> <!-- <meta-data android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <activity android:name="com.dilpay.app.bus.My_bookings" />
        <activity android:name="com.dilpay.app.payment.SelectPayment" android:exported="false" />
        <activity android:name="com.dilpay.app.MyWallet" />
        <activity android:name="com.dilpay.app.bus.Booking_details" />
        <activity android:name="com.dilpay.app.Gas_booking_successfull" />
        <activity android:name="com.dilpay.app.gas.Gas_screen" />
        <activity android:name="com.dilpay.app.Datacard_screen" />
        <activity android:name="com.dilpay.app.electricity.Electricity_screen" />
        <activity android:name="com.dilpay.app.postpaid.Postpaid_screen" />
        <activity android:name="com.dilpay.app.dth.Dth_screen" />
        <activity android:name="com.dilpay.app.mobile.Mobile_recharge_successfull" />
        <activity android:name="com.dilpay.app.bus.busDetailsConfirmation" />
        <activity android:name="com.dilpay.app.bus.passengerDetails" />
        <activity android:name="com.dilpay.app.bus.Bus_seating" />
        <activity android:name="com.dilpay.app.bus.Bus_customer_details" />
        <activity android:name="com.dilpay.app.Terms_conditions" />
        <activity android:name="com.dilpay.app.Privacy_policy" />
        <activity android:name="com.dilpay.app.Faq" />
        <activity android:name="com.dilpay.app.Contact_us" />
        <activity android:name="com.dilpay.app.About_us" />
        <activity android:name="com.dilpay.app.Support_screen" />
        <activity android:name="com.dilpay.app.bank.Add_account_details" />
        <activity android:name="com.dilpay.app.Profile" android:exported="false"/>
        <activity android:name="com.dilpay.app.bus.Available_buses" />
        <activity android:name="com.dilpay.app.mobile.Mobile" />
        <activity android:name="com.dilpay.app.bus.Bus" />
        <activity android:name="com.dilpay.app.More" />
        <activity android:name="com.dilpay.app.Home_screen" />
        <activity android:name="com.dilpay.app.Register_screen" android:exported="false"/>
        <activity android:name="com.dilpay.app.Welcome_screen" />
        <activity android:name="com.dilpay.app.Login_screen" android:exported="false"/>
        <activity android:name="com.dilpay.app.payment.paymentStart" />
        <activity android:name="com.dilpay.app.Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.dilpay.app.Broadcast.SmsReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <service android:name="com.dilpay.app.firebase.messagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>